*.rds
*~

method/build/

.snakemake/
workflow/logs/
workflow/data/
workflow/argelaguet/
workflow/expression/

test/*.out
test/test_*_flat/

*.log
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
.Rhistory
.RData
